.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 0.5px #c5c5c5;

}

.header-content {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 70px;
  margin-bottom: 10px;
}

.header-content-text {
  margin-left: 20px;
}
