.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 30px;
}

.label-left-align {
  text-align: left;
  margin-top: 10px
}

.sign-up-form {
  margin: 20px;
}
